<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag 'designs/' + @design.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @design.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @design.description %>
</p>

<p>
  <strong>Devices:</strong>
  <% if @design.devices.present? %>
    <ul>
      <% @design.devices.each do |device| %>
        <li><%= device.name %></li>
      <% end %>
    </ul>
  <% else %>
    None
  <% end %>
</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
