<nav>
  <ul>
    <li><%= link_to 'Admin', new_admin_user_session_path %></li>
    <li><%= link_to 'All Cases', root_path %></li>
    <li><%= link_to 'Phone Cases', phones_path %></li>
    <li><%= link_to 'Tablet Cases', tablets_path %></li>
    <li><%= link_to 'Laptop Cases', laptops_path %></li>
    <li><%= link_to 'New Customer', new_customer_path %></li>
  </ul>

  <%= render 'shared/search' %>
</nav>