<%= render 'shared/search' %>

<p id="notice"><%= notice %></p>

<h2><%= "#{@product.design.name} (#{@product.device.name})" %></h2>

<p>
  <%= image_tag @product.design.image.url(:original) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.design.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.device.price %>
</p>
