<!DOCTYPE html>
<html>
  <head>
    <title>Saiyabit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_customer %>
      Signed in as <%= current_customer.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
    | <%= link_to 'Admin', new_admin_user_session_path %>
    <%= render 'shared/menu' %>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>